<?xml version="1.0"?>
<launch>
    
  <include file="$(find rotors_gazebo)/launch/mav.launch" >
           <arg name="mav_name" value="firefly" /> 
            

   </include>

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
        <arg name="x" value="0.0"/>
        <arg name="y" value="0.0"/>
        <arg name="z" value="0.3"/>
  </include>
 
 
  <include file="$(find mav_linear_mpc)/launch/mav_linear_mpc_sim.launch">
    	<arg name="mav_name" value="firefly" />
  </include>


</launch>