<?xml version="1.0"?>
<launch>
    
    <arg name="mav_name" default="firefly" />
	<arg name="x" value="2.0"/>
    <arg name="y" value="3.0"/>
	
	<include file="$(find rotors_gazebo)/launch/mav.launch" />

    <include file="$(find husky_gazebo)/launch/spawn_husky.launch" >
	    <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="0.3"/>
	</include>
 
 	<include file="$(find mav_linear_mpc)/launch/mav_linear_mpc_sim.launch" />

    <node pkg="auto_landing" type="auto_landing_node" name="auto_landing_node" output="screen" args="-x $(arg x) -y $(arg y)">
		<remap from="commad_pose" to="$(arg mav_name)/command/pose" />
		<remap from="husky_odometry" to="husky_velocity_controller/odom" />
		<remap from="quad_odometry" to="$(arg mav_name)/ground_truth/odometry" />
	</node>

</launch>