<?xml version="1.0"?>
<launch>
    
    <arg name="mav_name"                    default="firefly" />
    <arg name="x"                           default="2" />
    <arg name="y"                           default="2" />
    <arg name="trajectory"                  default="random" />
    <arg name="husky_trajectory_parameters" default="$(find auto_landing)/cfg/husky_trajectory_params.yaml" />
    
    <include file="$(find rotors_gazebo)/launch/mav.launch" >
        <arg name="mav_name" value="$(arg mav_name)" />
    </include> 

    <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
        <arg name="x"        value="$(arg x)" />
        <arg name="y"        value="$(arg y)" />
    </include>

    <node pkg="auto_landing" type="auto_landing_husky_node" name="auto_landing_husky_node" output="screen" args="-trajectory $(arg trajectory)">
        <rosparam file="$(arg husky_trajectory_parameters)" />
        <remap from="command_velocity"   to="husky_velocity_controller/cmd_vel" />
		<remap from="model_state" 		 to="/gazebo/model_states" />
    </node>
</launch>

