<?xml version="1.0"?>
<launch>

    <arg name="mav_name" default="firefly" />
    <arg name="publish_visualization_marker" default="false" />

    <include file="$(find rotors_gazebo)/launch/mav.launch" >
        <arg name="paused" value="false" />
    </include>  
     
    <node pkg="auto_landing" type="auto_landing_trajectory_generation_tracker" name="auto_landing_trajectory_generation_tracker" output="screen" args="$(arg publish_visualization_marker)">
        <rosparam command="load" file="$(find auto_landing)/cfg/trajectory_parameters.yaml" />
        <remap from="command_trajectory" to="$(arg mav_name)/command/trajectory" />
        <remap from="mav_odometry" to="$(arg mav_name)/ground_truth/odometry" />
        <remap from="husky_odometry" to="gazebo/model_states" />
    </node>

    <include file="$(find mav_linear_mpc)/launch/mav_linear_mpc_sim.launch" /> 

    <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
        <arg name="x" value="2" />
        <arg name="y" value="2" />
    </include>

    <group if="$(arg publish_visualization_marker)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find auto_landing)/rviz/trajectory_visualizer.rviz" />
    </group>

</launch>