<?xml version="1.0"?>
<launch>

    <arg name="mav_name" default="firefly" />
    <arg name="publish_visualization_marker" default="false" />
    <arg name="x"        default="5.0" />
    <arg name="y"        default="5.0" />

    <include file="$(find mav_linear_mpc)/launch/mav_linear_mpc_sim.launch" /> 

    <include file="$(find auto_landing)/launch/mov.launch" >
	    <arg name="mav_name" value="$(arg mav_name)" />
		<arg name="x"        value="$(arg x)" />
		<arg name="y"        value="$(arg y)" />
    </include>
    
    <node pkg="auto_landing" type="auto_landing_trajectory_generation_tracker" name="auto_landing_trajectory_generation_tracker" output="screen" args="$(arg publish_visualization_marker)">
        <rosparam command="load" file="$(find auto_landing)/cfg/trajectory_parameters.yaml" />
        <remap from="command_trajectory" to="$(arg mav_name)/command/track/trajectory" />
        <remap from="mav_odometry" to="$(arg mav_name)/ground_truth/odometry" />
        <remap from="husky_odometry" to="gazebo/model_states" />
    </node>
    
    <node pkg="auto_landing" type="auto_landing_landing_node" name="auto_landing_landing_node" output="screen" args="-trajectory true" >
        <remap from="command_trajectory"        to="$(arg mav_name)/command/track/trajectory" />
		<remap from="mav_odometry"  	        to="$(arg mav_name)/ground_truth/odometry" />
		<remap from="model_state" 		        to="gazebo/model_states" />
        <remap from="command_trajectory_result" to="$(arg mav_name)/command/trajectory" />
    </node>

    <group if="$(arg publish_visualization_marker)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find auto_landing)/rviz/trajectory_visualizer.rviz" />
    </group>

</launch>
