<?xml version="1.0"?>
<launch>
<!-- <rosparam file="$(find landing_uav)/config/params.yaml"/> -->
<include file="$(find rotors_gazebo)/launch/mav.launch" >
    <arg name="mav_name" value="firefly" />
</include> 

<include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="x" value="2" />
    <arg name="y" value="2" />
</include>

<node pkg="land" type="land_node" name="cir_traj" output="screen"/>
<rosparam file="$(find land)/config/params.yaml" />

</launch>