<?xml version="1.0"?>
<launch>

    <arg name="camera_parameters" default="$(optenv HOME)/.ros/camera_info/camera.yaml" />

    <node pkg="auto_landing" type="auto_landing_pose_node" name="auto_landing_pose_node" output="screen">
        <rosparam file="$(arg camera_parameters)" />
    </node>

</launch>  
